@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/main-content/main-content.css);
@import url(./blocks/sidebar/sidebar.css);
@import url(./blocks/sidebar/__menu/sidebar__menu.css);
@import url(./blocks/sidebar/__menu-link/sidebar__menu-link.css);
@import url(./blocks/sidebar/__menu-list/sidebar__menu-list.css);
@import url(./blocks/sidebar/__settings/sidebar__settings.css);
@import url(./blocks/friend/friend.css);
@import url(./blocks/friend/__item/friend__item.css);
@import url(./blocks/friend/__logo/friend__logo.css);
@import url(./blocks/friend/__logo-img/friend__logo-img.css);
@import url(./blocks/friend/__name/friend__name.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/__img/logo__img.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__top-banner/profile__top-banner.css);
@import url(./blocks/user/user.css);
@import url(./blocks/user/__avatar/user__avatar.css);
@import url(./blocks/user/__info/user__info.css);
@import url(./blocks/user/__avatar-img/user__avatar-img.css);
@import url(./blocks/user/__name/user__name.css);
@import url(./blocks/user/__info-list/user__info-list.css);
@import url(./blocks/user/__info-list-item/user__info-list-item.css);
@import url(./blocks/user/__info-item-title/user__info-item-title.css);
@import url(./blocks/posts/posts.css);
@import url(./blocks/post-form/post-form.css);
@import url(./blocks/post-form/__textarea/post-form__textarea.css);
@import url(./blocks/post-form/__btn/post-form__btn.css);
@import url(./blocks/post/post.css);
@import url(./blocks/post/__avatar/post__avatar.css);
@import url(./blocks/post/__image/post__image.css);
@import url(./blocks/post/__text/post__text.css);
